* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: black;
  background-color: lightgrey;
  text-align: center;
  line-height: 1.5;
}

.nav,
footer {
  background-color: #173f80;
}

/***** nav bar hamburger menu *****/
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid black;
  text-align: right;
  height: 70px;
  line-height: 70px;
}
.menu {
  margin: 0 30px 0 0;
}
.menu a {
  clear: right;
  text-decoration: none;
  color: white;
  margin: 0 10px;
  line-height: 70px;
}

.menu a:hover {
  text-decoration: underline;
}

.nav span {
  margin-left: 30px;
  float: left;
  color: white;
}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}

/***** end nav bar hamburger menu *****/

.banner {
  position: flex;
  width: 100%;
  margin: 0 auto;
}

header {
  margin-top: 25px;
  padding-bottom: 40px;
}

.about-me-section {
  margin-top: 30px;
}

.about-me-text {
  width: 40%;
}

/*** Profile Pic ***/
.profile {
  margin-top: 30px;
  border-radius: 50%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-size: 1.7em;
  margin: 0 auto;
}
h2 {
  margin-bottom: 0.5em;
}

h3 {
  margin-top: 1.5em;
}

.about-me {
  margin-left: 75px;
  margin-right: 75px;
  text-align: justify;
}

.mySlides1,
.mySlides2,
.mySlides3 {
  display: none;
}
img {
  vertical-align: middle;
}

.contact-description {
  text-align: justify;
}

/* Slideshow container */
.slideshow-container {
  /*max-width: 1000px; */

  position: relative;
  margin: auto;
  margin-top: 30px;
}

.links {
  margin-bottom: 55px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  margin-left: -51%;
  color: black;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}

.slide-image {
  width: 75%;
  position: relative;
  z-index: -1;
 
}

.projects-heading {
  margin-right: 25%;
  margin-left: 25%;
  text-align: justify;
}

.project-description {
  margin-right: 75px;
  margin-left: 75px;
  text-align: justify;
}

.linkedin-profile {
  margin-right: -27px;
}

.space {
  margin-left: 2px;
}

.contact-description {
  margin-right: 75px;
  margin-left: 75px;
}
/****************************/
/***** CONTACT FORM *****/
.contact-form {
  margin: 16px;
}

.form-container {
  background-color: #2e7eff;
  border: 3px solid #173f80;
}
.name {
  color: white;
}
form {
  /* Center the form on the page */
  width: 320px;
  margin: 0 auto;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

form div + div {
  margin-top: 0.5em;
}

label[for="name"],
label[for="mail"],
label[for="msg"] {
  /* Uniform size & alignment */
  display: inline-block;
  width: 85%;
  text-align: left;
  color: white;
  font-size: 16px;
  line-height: 30px;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font-size: 1em;

  /* Uniform text field size */
  width: 80%;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid black;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 8em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 8%; /* same size as the label elements was 90px */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: -11%;
  border: 1px solid black;
  background-color: lightgrey;
}
/***** END CONTACT FORM *****/
/****************************/
/*
section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #7AADFF;
}

section:nth-child(even) {
  background-color: #2E7EFF;
}
*/

footer {
  color: white;
  font-size: 14px;
  margin-top: 25px;
}

footer a {
  color: white;
  text-decoration: underline;
}

/****************************************/
/****************************************/
/*************MEDIA QUERIES**************/
/***** iPhone 5/6/7 *****/
@media only screen and (max-width: 500px) {
  .nav span {
    display: none;
  }

  label {
    display: block;
    cursor: pointer;
    color: white;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }

  .menu a {
    display: block;
    position: relative;
    border-bottom: 1px solid black;
    margin: 0;
    color: white;
    background-color: #173f80;
    clear: right;
  }

  #toggle:checked + .menu {
    display: block;
  }

  .slide-image {
    width: 100%;
  }

  .about-me,
  .projects-heading,
  .project-description,
  .contact-description {
    margin-left: 15px;
    margin-right: 15px;
  }

  .contact-description {
    text-align: center;
  }
}

#linkedinimg {
  width: 25%;
}

#githubimg {
  width: 12%;
}

/***** iPad *****/
@media only screen and (min-width: 767px) {
  .slide-image {
    width: 100%;
  }

  .contact-description {
    text-align: center;
  }
}

/***** larger screens *****/
@media only screen and (min-width: 992px) {
  .about-me,
  .project-description,
  .contact-description {
    margin-left: 30%;
    margin-right: 30%;
  }

  .profile {
    border-radius: 50%;
    margin-right: 55%;
    margin-bottom: -13%; /*-245px*/
    margin-left: -123px;
    margin-top: 75px;
  }

  h1 {
    margin-bottom: 2%; /*65px*/
  }

  h2 {
    margin-top: 4%; /*100px*/
  }

  #linkedinimg {
    width: 8%;
  }

  #githubimg {
    width: 5%;
  }

  .slide-image {
    width: 75%;
  }

  .contact-description {
    text-align: justify;
  }
}

@media only screen and (max-width: 1000px) {
  .profile {
    margin-left: 10px;
    margin-top: 75px;
  }
}
